<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forhome.zhijia.checkoutlog.mapper.CheckOutLogMapper">

    <sql id="Base_Column_List">
        id AS id,
        sort AS sort,
        status AS status,
        uuid AS uuid,
        create_date AS createDate,
        update_date AS updateDate,
        creater_user_uuid AS createrUserUuid,
        updater_user_uuid AS updaterUserUuid,
        type AS type,
        student_num AS studentNum,
        user_name AS userName,
        user_uuid AS userUuid,
        dorm_uuid AS dormUuid,
        dorm_name AS dormName,
        dorm_room_uuid AS dormRoomUuid,
        dorm_room_name AS dormRoomName,
        bed_num AS bedNum,
        bed_uuid AS bedUuid,
        objectid AS objectid,
        school_name AS schoolName,
        check_out_date AS checkOutDate,
        remark AS remark,
        temp_1 AS temp1,
        temp_2 AS temp2,
        temp_3 AS temp3
    </sql>

</mapper>