package ${package}.${module}.pojo.po;

import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.annotations.TableName;
import ${package}.common.base.BaseEntity;
<?py if hasDate: ?>
import java.util.Date;
<?py #endif ?>
<?py if hasDecimal: ?>
import java.math.BigDecimal;
<?py #endif ?>

/**
 * 
 *
 * @author ${author} 
 * @date ${datetime}
 */
@TableName("${tableName}")
public class ${className} extends BaseEntity {

<?py for column in columns: ?>
    /**${column.column_comment} */
    @TableField("${column.column_name}")
    private ${column.data_type} ${column.var_name};
<?py #endfor ?>

    public ${className}() {
		super();
	}

<?py for column in columns: ?>
    public void set${column.method_name}(${column.data_type} ${column.var_name}) {
        this.${column.var_name} = ${column.var_name};
    }

    public ${column.data_type} get#{column.method_name}() {
        return this.${column.var_name};
    }

<?py #endfor ?>

}