<?py if zteng: ?>
package ${package}.${module}.service.ao;
<?py else: ?>
package ${package}.${module}.api;
<?py #endif ?>

/**
 *  ${comments} Api
 *
 * @author ${author}
 * @date ${datetime}
 */
<?py if zteng: ?>
public interface ${className}AoService {
<?py else: ?>
public interface ${className}Api {
<?py #endif ?>

}