package ${table.dto_pkg};

% for pkg in table.pkgs:
import ${pkg};
%endfor
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import java.io.Serializable;

/**
 * ${table.comment}DTO
 *
 * @author ${project.author}
 * @since ${project.since}
 */
@Getter
@Setter
@ToString
@ApiModel(description = "${table.comment}DTO")
public class ${table.dto_clz} implements Serializable {

    private static final long serialVersionUID = ${sv_uid}L;

% for field in table.fields:
    @ApiModelProperty(value = "${field.comment}")
    % if field.type == 'Long':
    @JsonSerialize(using = ToStringSerializer.class)
    % endif
    private ${field.type} ${field.prop_name};

%endfor

}
