package ${package}.${module}.pojo;

import java.io.Serializable;
<?py if hasDate: ?>
import java.util.Date;
<?py #endif ?>
<?py if hasDecimal: ?>
import java.math.BigDecimal;
<?py #endif ?>

/**
 *  ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}DTO implements Serializable {

    private static final long serialVersionUID = ${serialVersionUID}L;

<?py for column in columns: ?>
    /**${column.column_comment} */
    private ${column.data_type} ${column.var_name};
<?py #endfor ?>

<?py for column in columns: ?>
    public void set${column.method_name}(${column.data_type} ${column.var_name}) {
        this.${column.var_name} = ${column.var_name};
    }

    public ${column.data_type} get#{column.method_name}() {
        return this.${column.var_name};
    }

<?py #endfor ?>

}
