package ${table.vo_pkg};

% for pkg in table.pkgs:
import ${pkg};
%endfor
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import javax.validation.constraints.*;
import java.io.Serializable;

/**
 * ${table.comment} VO
 *
 * @author ${project.author}
 * @since ${project.since}
 */
@Getter
@Setter
@ToString
@ApiModel(description = "${table.comment}VO")
public class ${table.vo_clz} implements Serializable {

    private static final long serialVersionUID = ${sv_uid}L;

% for field in table.fields:
% if not field.common:
    % if field.length:
    @Size(max = ${field.length}, message = "${field.comment}长度超出限制")
    % endif
    % if field.type == 'String' and field.not_null:
    @NotBlank(message = "请输入${field.comment}")
    % elif not field.primary_key and field.not_null:
    @NotNull(message = "请输入${field.comment}")
    %endif
    @ApiModelProperty(value = "${field.comment}")
    private ${field.type} ${field.prop_name};

% endif
% endfor
}
